@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import "reset";
@import "grid";
:root {
  --backgroundColor:#f3f5fc;
}

html{
  font-size: 10px;
}
body {
  font-size: 16px;
  background-color: var(--backgroundColor);
}
p{
  font-size: 1.1rem;
}
.pageTitle{
  text-align: center;
  font-size: 3rem;
}
nav{
  .navbar-brand{
    font-size: 1.7rem;
    margin-right: 2rem;
    img{
      width: 5rem;
      height: 100%;
      margin-right: 0.5rem;
    }
  }
  a{
    color: white;
    font-size: 1.3rem;
    margin-right: 3rem;;
  }
}

.MyVideo {
  .hashTagRow{
    margin-bottom: 3rem;
    .badge{
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  .myVideoCol{
    margin-bottom: 2rem;  
  }
  .card{
    .card-header{
      .videoTitle{
        .badge{
          float: right;
        }
      }     
      .videoCategory{
        float: right;
      }
    }
    button{
      float: right;
      width: 30%;
    }
    .card-footer {
      .delVideoBtn{
        float: left;
      }
    }
  }
  
}
.VideoPost{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
  .showVideoDiv{
    width: 80%;
    height: 100%;
    .card{
      height: 100%;
      p{
        font-size: 1.2rem;
      }
      .card-title{
        font-size: 1.5rem;
        .badge {
          float: right;
          padding: 0.5rem;
        }
      }
      .card-body{       
        ul{
          overflow-y: auto;
          li{
            padding: 1%;;
            margin: 1rem;
            background-color: rgba(180, 184, 187, 0.35);
            p{
              margin-bottom: 0.5rem;
              font-size: 1.2rem;
              .name{
                font-size: 1.4rem;
              }
              .cmDelBtn{
                float: right;
              }
            }
            small{
              font-size: 1rem;
            }
          }
        }
        .commentTitle{
          text-align: center;
        }
      }
      .inputBody{
        height: 100%;
        width: 100%;
        padding:1rem;
        .nav-tabs{
          a{
            font-size: 1.2rem;
            color: black;
          }
        }
        .input-group-append{
          .backTolistLink{
            float: right;
            font-size: 1.2rem;
            font-weight: 500;
            margin-left: 2rem;
          }
        }
        
        .commentFormDiv{
          padding:1rem;
          // background-color: white;
          height: 18rem;
          width: 100%;
          .formLabel{
            font-size: 1.5rem;
            font-weight: 500;
            margin:auto;
          }
          .form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            input{
              height: 3rem;
              font-size: 1.3rem;
            }
            .ratingDiv{
              width: 100%;
              .ratingInput{
                width: 80%;
              }
              button{
                width: 10%;
                height: 3rem;
                font-size: 1.3rem;
                border: none;
              }
            }
            
          }
   
        }
        .categoryFormDiv{
          padding:1rem;
          // background-color: white;
          height: 18rem;
          width: 100%;
          .formLabel{
            font-size: 1.5rem;
            font-weight: 500;
            margin:auto;
          }
          
          form{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            select{
              height: 2.7rem;
              font-size: 1.3rem;
            }
            button{
              // position: absolute;
              // bottom: 1;
            }
          }
          
        }
      }
      
    }
  }
}
.AppPage {
  padding:1rem;
  background-color: var(--backgroundColor);
  width: 100vw;
  // height: 100vh;
  margin-bottom:3rem;
  .resultCol {
    margin-bottom: 2rem;
  }

  .logoDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      font-size: 4.3rem;
      font-weight: 600;
    }
    img{
      margin: auto;
      margin:2rem;
    }
  }
  .search{
    margin: auto;
    width: 100%;
    height: 8vh;
    // background-color: lightsalmon;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
      width: 100%;
      height: 100%;
      padding:1%;
      margin:auto;
      .input-group{
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        width: 100%;
        input{
          height: 100%;
          border: 1px solid darkgrey;
          font-size: 2rem;
          border-radius: 0.3rem;
        }
        
        .input-group-append{
          height: 100%;
          button{
            // font-size: 1.3rem;
            border: 1px solid darkgrey;
            width: 6rem;
          }
        }
      }
    }
  }
  .card{
    // padding:3rem;
    .videowrapper {
      float: none;
      clear: both;
      width:  100%;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;
      margin: auto;
      .videoTitle {
        padding: 0.5rem;
        font-size:2rem;
        font-weight: 600;
      }
      .videoDescrip{
        height: 100%;
        background-color: lightgreen;
      }
    }
    .addBtn {
      float: right;
    }
    .videowrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .videoTitle{
      font-size: 1.5rem;
      font-weight: 700;
    }
    .channelTitle{
      font-size: 1.3 rem;
    }
    .hide{
      display: none;
    }
  }
  .card-footer{
    form{
      .archivedMessage {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
  }
}
.AboutPage{
  p{
    font-size: 1.3rem;
  }
}
.contactForm{
  width: 40%;
  height: 100%;
  margin:auto;
  background-color: white;
  .row{
    margin-top: 10%;
    margin-bottom: 62%;
  }
  form{
    width: 100%;
    height: 100%;
    padding:10%;
    .form-group{
      width: 100%;
    }
    
  }
}
.footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 5rem;
   font-size: 1.2rem;
   background-color: black;
   color: white;
   text-align: center;
   text-align: center;
   margin: auto;
   vertical-align: middle;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 0;
}

@media screen and (max-width:1840px){
  input{
    width: 70%;
  }
}
@media screen and (max-width:1440px){
  input{
    width: 70%;
  }
}
@media screen and (max-width:1024px){
  input{
    width: 70%;
  }
}
@media screen and (max-width:768px){
  .ContactPage{
    .contactForm{
      width: 40%;
      height: 100%;
      margin:auto;
      background-color: white;
    .row{
      margin-top: 10%;
      margin-bottom: 62%;
    }
    form{
      width: 100%;
      height: 100%;
      padding:10%;
      .form-group{
        width: 100%;
      } 
    }
  }
  }
  .MyVideo{
    .myVideoCol{
      .videoTitle{
        font-size: 1.1rem;
        .badge{
          width: 20%;
        }
      }
      .channelTitle{
        font-size: 1.1rem;
      }
    }
    .card{
      .videoDescrip{
        min-height: 65px;
      }
      .card-footer{
        button{
          width: 40%;
        }
      }
    }
  }
}
@media screen and (max-width:425px){
  .search{
    .input-group{
      width: 70%;
      height: 4.5rem;
      #q{
        height: 90%;
        width: 70%;
      }
      button{
        height: 100%;
      }

    }
  }
  .ContactPage{
    width: 100%;
    .contactForm{
      width: 100%;
      height: 100%;
      margin:auto;
      background-color: white;
      .row{
        margin-top: 10%;
        margin-bottom: 62%;
      }
      form{
        width: 100%;
        height: 100%;
        padding:10%;
        .form-group{
          width: 100%;
        }    
      }
    }
  }
  .VideoPost{
    .commentFormDiv{
      form{
        background-color: white;
        .commentInput{
          width: 100%;
        }
        .ratingDiv{
          width: 100%;
          .ratingInput{
            width: 80%;
          }
          button{
            width: 10%;
          }
        }
      }
    }
    
    .input-group{
      width: 50%;
    }
  }
}
 @media screen and (min-width:320px){
  #webTitle{
    font-size: 4rem;
  }
  .search{
    #q{
      width: 70%;
    }
  }
  .VideoPost{
    .showVideoDiv{
      width: 100%;
      height: 100%;
    }
    .commentFormDiv{
      form{
        width: 100%;
        background-color: white;
        .commentInput{
          width: 100%;
        }
        .ratingDiv{
          width: 100%;
        }
      }
    }
  }
  .ContactPage{
    width: 100%;
    .contactForm{
      width: 100%;
      height: 100%;
      margin:auto;
      background-color: white;
      .row{
        margin-top: 10%;
        margin-bottom: 62%;
      }
      form{
        width: 100%;
        height: 100%;
        padding:10%;
        .form-group{
          width: 100%;
          label{
            font-size: 1.3rem;
          }
          small{
            font-size: 1.1rem;
          }
        }
        
      }
    }
  }
}